extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Products
    each product in allProducts
      div
        div
          div
            img(src=product.imgUrl class="productImg" alt="product image" style="width:100px")
          div Extension Name
            p=product.productName
          div Creator Username
            p=product.User.userName
          div Extension Description
            p=product.description
          div
            a(href=`/products/${product.id}`)
              img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg-iPACMkP7ZTmjyba-FxNuQBbvTL9CxW9jQ&usqp=CAU", alt="Comments" style="width:40px")
