extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(id="header-container")
    marquee(behavior="scroll", direction="left" class="trash")= `${title} ${title} ${title} ${title} ${title} ${title} ${title} ${title} ${title} ${title} ${title} ${title} ${title}`
    marquee(behavior="scroll", direction="right" class="trash")= `${title} ${title} ${title} ${title} ${title} ${title} ${title} ${title} ${title} ${title} ${title} ${title} ${title}`
  div(id="mega-container")
    each product in allProducts
      div(class="super-container")
        div(class="product-container-div")
          div(class="product-img-div")
            img(src=product.imgUrl class="productImg" alt="product image" style="width:250px")
          div(class="extension-name-div")
            p=product.productName
          div(class="creator-username-div")
            p=`@${product.User.userName}`
          div(class="extension-description-div")
            p=product.description
          div(class="comments-img-div")
            a(href=`/products/${product.id}`)
              img(src="https://i.imgur.com/LAszFrl.png", alt="Comments" style="width:140px")
