extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Products 
    each product in allProducts 
      div 
        div
          div 
            img(src=product.imgUrl class="productImg" alt="product image" style="width:100px")
          div Extension Name
            p=product.productName 
          div Creator Username
            p=product.User.userName
          div Extension Description 
            p=product.description 
          div 
            div 
              p=product.comment 
          //-     each comment in product.comments 
          //-       div 
          //-         p=comment.body 
          //-       div 
          //-         p=comment.userId.userName 



