extends layout.pug
block content
  div
    h1=product.name
    div
      div
        img(src=product.imgUrl class="productImg" alt="product image" style="width:100px")
      div Extension Name
        p=product.productName
      div Creator Username
        p=product.User.userName
      div Extension Description
        p=product.description
    div
      form(method="post" action=`/products/${product.id}`)
        label(for="body")
        textarea(name="body" required)
        input(type="hidden" name="_csrf" value=csrfToken)
        button(type="submit") Comment
    div
      each comment in comments
        div
          img(src=comment.User.profileImg, alt="Profile Image")
        div
          p=comment.User.userName
        div
          p=comment.body
        div
          p=comment.createdAt







//- comments, user, product
