extends layout.pug

block content
    div
        div
            img(src= user.profileImg)
        div
            h1= user.name
        div
            h2 @#{user.userName}
    div
        h3= Extensions
        each product in products
          div(id=`product-div-${product.id}`)
            div
              img(src=product.imgUrl class="productImg" alt="product image" style="width:100px")
            div Extension Name
              p=product.productName
            div Creator Username
              p=user.userName
            div(class='description-div') Extension Description
              p(id=`description-container-${product.id}`)=product.description
            if signedIn
              form(action=`/users/product/${product.id}` method="post")
                button(type="submit") DELETE
              div
                textarea(id=`edit-body-${product.id}`)
                button(class="edit-button" id=`edit-button-${product.id}`) EDIT DESCRIPTION
